<?xml version="1.0" encoding="UTF-8"?>
<launch>

	
	<!-- start gazebo server with empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
	</include>

  	<!-- Load the parameter for the advanced plugin from the configuration file -->
  	<rosparam command="load" file="$(find twodofs_description)/config/adv_plugin_config.yaml"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find twodofs_description)/urdf/qb_TwoDofs.xacro'"/>

	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>

	<node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-urdf -param robot_description -model twodofs_description -x $(arg x) -y $(arg y) -z $(arg z)"/>

	<!-- calculate, publish and remap joint_states -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/qb_TwoDofs/joint_states" />
	</node>

<!-- 	<node name="qb_topics_motor_2" pkg="qbmove_real" type="qb_topics_motor.py"  output="screen">
	<param name="id" value="2" type="int" />
	<param name="command_topic" value="/qbmove_2/command" type="string" />
	<param name="pos_topic" value="/qbmove_2/position" type="string" />
	<param name="hz" value="10" type="int" />
  	</node> -->

</launch>




