<?xml version="1.0" encoding="UTF-8"?>
<launch>

	
	<!-- start gazebo server with empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>
	</include>
	
  	<!-- Load the parameter for the advanced plugin from the configuration file -->
  	<rosparam command="load" file="$(find simplecube_description)/config/adv_plugin_config.yaml"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find simplecube_description)/urdf/simplecube.urdf'"/>

	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.08"/>

	<node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
		args="-urdf -param robot_description -model simplecube_description -x $(arg x) -y $(arg y) -z $(arg z)"/>

	<!-- calculate, publish and remap joint_states -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
		<remap from="/joint_states" to="/simplecube/joint_states" /> 
	</node> 
	
</launch>




