<?xml version="1.0"?>
<robot name="qb_simpleCube" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find qb_move_description)/urdf/qbmove.utils.xacro" ns="qbmove"/>

	<link name="root_link"/>
    <xacro:qbmove.build_move_from_yaml namespace="cube1" parent="root">
        <origin xyz="0 0.045 0.1" rpy="0 0 3.14"/>
    </xacro:qbmove.build_move_from_yaml>
    <xacro:qbmove.build_flange_from_yaml flange="c_flange_axis" namespace="cube1" parent="cube1_shaft"/>

    <gazebo>
        <self_collide>1</self_collide>
    </gazebo>
    
</robot>
